.container {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  flex: 0;
}

.img {
  width: 80px;
}

.logo,
.link {
  flex: 1;
}

.link {
  text-align: right;
}
